recursive-include hashcat/hashcat/ *
recursive-include hashcat/pp/ *
recursive-include hashcat/kwp/ *
recursive-include hashcat/utils/ *
include version
include README.md
global-exclude *.swp
global-exclude *.pyc
